body {
    background-image: url(assets/Nova.gif);
    background-repeat: repeat;
    background-position: left top; 
}
.stage {
	background-color: black;
	height: 500px;
	width: 500px;
    position:relative;
    margin: auto;
}
#controls {
    text-align: center;
}
h1{
	color: white;
	text-align: center;
    font-family: NES;
    font-size: 39px;
}

#wrapper {
    width: 100%;
    height: 88%;
}

.bar {
    float: right;
    height: 100%;
    width: 10%; /* must never add up to more than 100% */
}

.green {
    background-color: #a8ff00;
}

.orange {
    background-color: #ffa41c;
}

.red {
    background-color: #ff0000;
}

#img_container {
    position:relative;
    display:inline-block;
    margin: auto;
    text-align:center;
}

.textBox {
    top: 520px; 
    display: none;
    background-image: url(assets/text_box.png); 
    background-position: 50%; 
    text-align: center; 
    background-size: 200px; 
    background-repeat: no-repeat;
    border: none;
    background-color: transparent; 
    width: 200px; 
    height: 100px;  
    margin: 0 auto; 
    left:0;
    right:0;
    bottom:0;
    position:absolute; 
    font-family: NES; 
    font-size:30px
}

.submit {
    position:absolute;
    display: none;
    color:white;
    top: 475px;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    font-family: NES;
    font-size: 40px;
}

.image {
    display: none;
    margin: 0 auto;
}

.button {
    position:absolute;
    display: none;
    margin: 0 auto;
    top: 610px;
    left:0;
    right:0;
    bottom:0;
}

.about {
    width:500px; 
    height:500px;
    line-height:1.5em;
    overflow:auto;
    padding:5px;
    font-size: 60px; 
    text-align: center; 
    font-family: Pixel; 
    background-color:rgba(255, 255, 255, 1.0); 
    border: 10px solid black;
    margin: 0 auto;
    display: block;
}

input:focus{
    outline: none;
}

@font-face {
    font-family: NES;
    src: url(assets/NES.ttf);
}

@font-face {
    font-family: Pixel;
    src: url(assets/Pixel.ttf);
}


/*#left {

}
#up {

}
#down {

}
#right {

}*/